extends ../shared/template

block content
  h1#artist-main-header= artist[0].artistName
  img#artist-main-image(src='/img/#{artist[0].artistName}/#{artist[0].artistPhoto}')

  .songs-container
    each song in songs
      .song
        .song-name #{song.songName}
        .album-image
          img(src='/img/#{song.artistName}/#{song.albumName}/#{song.albumPhoto}')
        .audio
          audio(src='/audios/#{song.artistName}/#{song.albumName}/#{song.songFile}', type='audio/mp3', controls=true)
