extends ../shared/template

block content
  .song-controls
    h1#songs-main-header Songs
    form(method='GET', action='/songs/sort')
      select.genre-filter(name='genre')
        option Genre
        each genre in genres
          option= genre
      button.button.button-border#filter-button Filter


  .songs-container
    each song in songs
      .song
        .song-name #{song.songName}
        //- .artist-name= song.artistName
        .artist-image
          img(src='/img/#{song.artistName}/#{song.artistPhoto}')
        //- .album-name "#{song.albumName}"
        .album-image
          img(src='/img/#{song.artistName}/#{song.albumName}/#{song.albumPhoto}')
        .audio
          audio(src='/audios/#{song.artistName}/#{song.albumName}/#{song.songFile}', type='audio/mp3', controls=true)
